* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}

body {
    padding-top: 10px;
    background-color: #000;

}

h1 {
    font-family: Verdana, sans-serif;
    alignment: center;
    padding-top: 30px;
    padding-bottom: 25px;
    color: #696969;
    }

div {
    font-family: Helvetica, sans-serif;
    background-color: #fff;
    margin: auto;
    width: 500px;
    padding: 10px;
    border-radius: 25px;
}

form {
    padding-left: 75px;
}

#principal {
    margin-left: 80px;
}

#rate {
    margin-left: 40px;
}

#years {
    margin-left: 45px;
}

button {
    margin-left: 5px;
    margin-right: 5px;
}
