* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}

body {
    padding-top: 10px;
    background-color: #000;
}

h1 {
    padding-top: 40px;
    padding-bottom: 20px;
    color: #696969;
    }

div {
    font-family: Arial, sans-serif;
    background-color: #fff;
    margin: auto;
    width: 500px;
    padding: 10px;
}


