* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #000;
}

body {
    background-color: #fff;
}

h1 {
    color: #696969;
    }

div {
    margin: auto;
    width: 500px;
    padding: 10px;
}


